* {
    box-sizing: border-box;
 }

.pageWrapper {
    margin: 0 50px;
    max-width: 1280 px;
    padding: 25px;
}

h1 {
    font-size: 64px;
    font-weight: 600;
}

.articleCard {
    border: 2px solid #000;
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.articleImage {
    flex-basis: 40%;
}

.articleText {
    padding: 15px;
    flex-basis: 60%;
}

.articleImage img {
    height: auto;
    width: 100%;
}

.articleText h2 {
    font-size: 30px;
}

.articleText .date {
    font-size: 15px; 
}

.article--content {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
    flex-direction: column;
}

.article--header {
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
}

.article--header--wrapper{
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 400px;
    padding-right: 400px;
    flex-direction: column;
}

.article--header--wrapper h1{
    font-size: 60px;
}